.topnav {
  overflow:  hidden;  
  position: fixed;
  display: flex;
  justify-content: center;   
  width: 100vw;
  height: 3vh;
  background-color: darkgrey;
}

.topnav .topnav-container {       
  display: flex;  
  width: 80vw;  
  justify-content:space-between;
  align-items: center;
}

.topnav a {
  float: left;  
  font-size: 20px;  
  padding-left: 10px;
  padding-right: 10px;  
}

.topnav a :hover {
  background-color: beige;
}

.topnav a .active {
  background-color:darkgrey ;
}

.main {
  padding-top: 5vh;
}

table {
  margin-top: 10px;  
  border: 2px solid black;
  border-radius: 50%;
  border-collapse: collapse;
}

th{  
  font-weight: bold;
}

tr{
  border-top: 1px solid black;
  cursor:grab;
}
tr:hover{
  background-color: lightgray;
}

.main {
  overflow: visible;
  position: flex;  
  justify-content: center;
}

.main-container {    
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.main .main-container .poster  img{
  justify-self: center;
  width: 50vw;
}